<html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/stylesheets/hos.css">
      <title>Health Service</title>
      <br>
      <a href="/back/patient">Home</a>
      <h1>Hello <%=@apt.patient.name%></h1>
      <p>Update an existing appointment</p>
      <br>
      <%=flash[:message]%>
      <br> 
      <img class="img-hos" src="/images/hospital-2.jpg">
      <br>
    </head>
    <body>
      <header>
        <div class="main">
          <form action="/patient/appointments/<%= @apt.id %>" method="POST">
            <input id="hidden" type="hidden" name="_method" value="patch">
            <%@doctor.each do |doc| %>
            <input type="radio" name="[doctor_id]" id="<%= doc.id %>" value="<%= doc.id %>" <%='checked' if @apt.doctor_id==doc.id%>><%= doc.name %></input><br>
            <%end%>
            <br>
            <p>Date:<input type="date" name="date" id="date" value="<%=@apt.date%>"></input></p>
            <br>
            <p>Time:<input type="time" name="time" id="time" value="<%=@apt.time.strftime("%k:%M")%>"></input></p>
            <br>
            <input type="submit" value="Update appointment">
            <br>
          </form>
        </div>
      </header>
    </body>
</html>
