<html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/stylesheets/hos.css">
      <title>Health Service</title>
      <a href="/back/patient">Home</a>
      <br>
      <%=flash[:message]%>
      <br>
      <img class="img-hos" src="../images/hospital-2.jpg">
      <br>
    </head>
    <body>
      <header>
        <div class="main">
          <h1> The appointments are : </h1>
          <br>
           <%@apt.each do |a| %>
            <h2> Patient Name : <%=a.patient.name %> </h2>
            <br>
            <h2> Doctor Name : <%=a.doctor.name %> </h2>
            <br>
            <h2> Appointment Time : <%=a.time.strftime("%I:%M %p")%> </h2>
            <br>
            <h2>Appointment Date : <%=a.date%> </h2>
            <br>
            <li> <a href="/patient/appointments/<%=a.id%>/edit">Update an Appointment</a> </li>
            <li> <a href="/patient/appointments/<%=a.id%>/delete">Delete an Appointment</a> </li>
            <br>
          <%end%>
        </div>
      </header>
    </body>
    </html>
